html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none;
  margin: 1em; }

li {
  margin: 1em; }

blockquote, q {
  quotes: none; }

/* remember to define focus styles! */
*:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0; }

html, body {
  margin: 0; }

body {
  font-size: 95%;
  font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
  background: -moz-linear-gradient(top, #f2f2f2 0%, white 100%);
  background: url("../../../images/bg.png") repeat; }

a {
  color: red;
  text-decoration: none; }
  a:hover {
    color: blue;
    text-decoration: none; }
  a.alt {
    color: #569bbe;
    text-decoration: underline; }
    a.alt:hover {
      text-decoration: none; }

big {
  font-size: 110%; }

h1 {
  font-size: 180%;
  font-weight: bold;
  margin: 0.75em 0; }

h2 {
  font-size: 150%;
  font-weight: bold;
  margin: 0.75em 0; }

h3 {
  font-weight: bold;
  font-size: 150%;
  margin: 0.75em 0; }

h4 {
  font-size: 150%;
  font-weight: bold;
  margin: 0.75em 0; }

p {
  margin: 1em 0; }

td {
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

img {
  border: none;
  vertical-align: middle; }

input[type=image] {
  border: none;
  vertical-align: middle; }

input.big {
  font-size: 120%; }

#change_password span, span.info, span.error {
  font-size: 80%; }

.clear {
  font-size: 1px;
  clear: both; }

.warning {
  color: red; }

table {
  border-collapse: collapse; }

#container {
  margin: 0 auto;
  width: 700px; }

#header {
  font-size: 90%;
  width: 100%;
  position: relative;
  height: auto;
  clear: both; }

#menu li {
  float: left;
  display: inline; }

#menu li a {
  display: block;
  margin: 20px; }

#content form p label {
  display: block; }
  #content form p label.checkbox, #content form p label.radio {
    display: inline;
    font-weight: normal;
    font-size: 95%;
    text-shadow: none;
    margin-right: 1em; }
  #content form p label.multi_option {
    margin-bottom: 0.3em; }
#content form p input.textbox {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 140%;
  margin-bottom: 0; }
#content form p input.checkbox, #content form p input.radio {
  margin-top: 0.3em; }
#content form p textarea {
  font-size: 100%;
  margin-top: 0.3em;
  width: 98%; }
#content form p .value {
  display: block;
  margin-top: 0.25em;
  text-shadow: #666666 1px 1px 0; }
#content form p .hint {
  font-size: 90%;
  display: block;
  margin-top: 0.25em;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1); }
#content form p a {
  color: white; }
  #content form p a.action {
    background-color: #7e7e7e;
    font-size: 75%;
    padding: 0.2em 0.5em 0.3em;
    text-decoration: none;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    #content form p a.action:hover {
      background-color: #555555; }
#content form p.title input.textbox {
  margin-top: 4px;
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 200%;
  width: 99.5%; }
#content form .set {
  float: left;
  width: 100%;
  margin-bottom: 1em;
  clear: both; }
  #content form .set p {
    float: left;
    margin: 0 1em 0 0; }
#content form .buttons {
  color: #666666;
  font-size: 80%;
  margin-top: 2.5em; }
  #content form .buttons button, #content form .buttons input.button {
    font-size: 150%; }
  #content form .buttons a {
    color: #569bbe;
    text-decoration: underline; }
    #content form .buttons a:hover {
      text-decoration: none; }

.drawer {
  margin-top: -1em;
  margin-bottom: 1em; }

.drawer_contents {
  background: #7e7e7e url(../../images/admin/navigation_shadow.png) repeat-x;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0;
  margin-right: 2px;
  padding-bottom: 2px;
  overflow: hidden; }
  .drawer_contents table.fieldset {
    margin: 0;
    padding: 0;
    width: 100%; }
    .drawer_contents table.fieldset th, .drawer_contents table.fieldset td {
      border-top: 1px #999999 solid;
      padding: 6px; }
    .drawer_contents table.fieldset th.label {
      font-size: 85%;
      padding: 0 15px 0 10px !important;
      whitespace: nowrap;
      width: 1%;
      vertical-align: middle;
      text-align: left; }
    .drawer_contents table.fieldset td.field {
      padding-left: 0px;
      padding-right: 10px;
      text-align: right;
      width: auto; }
      .drawer_contents table.fieldset td.field input.textbox {
        font-size: 110%;
        width: 99.5%; }
    .drawer_contents table.fieldset td.actions {
      width: 40px;
      text-align: left;
      vertical-align: middle; }
    .drawer_contents table.fieldset tr:first-child td, .drawer_contents table.fieldset tr:first-child th {
      border-top: none; }

.drawer_handle {
  padding: 4px 0 5px;
  margin-top: -1px; }
  .drawer_handle a {
    background: #7e7e7e;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #f0f0f0;
    font-size: 80%;
    padding: 4px 21px 5px 10px;
    position: relative;
    top: -1px;
    text-shadow: #666666 1px 1px 0;
    text-decoration: none;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px; }
    .drawer_handle a:hover, .drawer_handle a:active, .drawer_handle a:focus {
      text-decoration: underline; }
    .drawer_handle a.more {
      background: #7e7e7e url(../../images/admin/metadata_toggle.png) no-repeat 85% 8px; }
    .drawer_handle a.less {
      background: #7e7e7e url(../../images/admin/metadata_toggle.png) no-repeat 85% -21px; }

.box {
  color: white;
  background: #f5f1e2 url(../../images/admin/gradient.png) top left repeat-x;
  font-size: 90%;
  padding: 1px 15px 10px;
  margin: 3px 0 20px;
  height: 1%;
  overflow-y: auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .box h3 {
    color: #333333;
    margin: 15px 0 0;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 8px; }
    .box h3 .actions {
      float: right; }
      .box h3 .actions button {
        font-size: 13px;
        padding-left: 1em;
        padding-right: 1em;
        position: relative;
        top: -4px; }
  .box h4 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 4px;
    font-size: 110%;
    margin-top: 1.5em; }
  .box p.ruled {
    border-bottom: 1px solid #dddddd;
    margin: 0;
    padding: 0.5em 0; }
    .box p.ruled:last-child {
      border: none; }
  .box label {
    color: #888888;
    width: 12em;
    display: inline-block; }
  .box span.uri {
    color: #3399cc; }
  .box:last-child {
    margin: 0; }
  .box#preferences img.avatar {
    float: right;
    margin: 10px 0px; }

.error_with_field .error {
  color: red;
  display: block;
  padding: 2px;
  padding-top: 0; }

textarea {
  border: 1px solid #cdc295;
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 95%; }
  textarea.large {
    height: 280px; }

p.updated_line {
  background-color: inherit;
  font-size: 80%;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  margin-bottom: 0; }

body.reversed #content form p label {
  color: #f5f5f5;
  font-weight: normal;
  text-shadow: 1px 1px 0 #888888; }
  body.reversed #content form p label .hint {
    display: inline; }
body.reversed #content form .hint {
  color: #d0d0d0;
  text-shadow: none; }
body.reversed #content form .buttons {
  background: white url(../../images/admin/buttons_background.png) bottom repeat-x;
  padding: 12px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15); }
body.reversed #content form fieldset {
  background: #858585;
  padding: 20px 15px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 0 #ababab;
  -moz-box-shadow: 1px 1px 0 #ababab;
  box-shadow: 1px 1px 0 #ababab;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
  body.reversed #content form fieldset h3 {
    font-weight: bold;
    font-size: 120%;
    margin: -20px -20px 0 -20px;
    padding: 15px 20px 0 20px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1); }
  body.reversed #content form fieldset p {
    margin-bottom: 0; }
body.reversed #content p.updated_line {
  color: #eeeeee; }
body.reversed #content textarea {
  border: 1px solid white; }
body.reversed #content .box {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15); }

body.single_form #content #single_form {
  color: white;
  background: #569bbe url(../../images/admin/gradient.png) center -15px repeat-x;
  border: 0.35em solid #a0cf67;
  padding: 0.5em 1.5em;
  padding-right: 22px;
  position: relative;
  width: 28em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  body.single_form #content #single_form h1 {
    font-size: 140%;
    margin: 0.75em 0 1.25em; }
  body.single_form #content #single_form p {
    font-size: 90%; }
    body.single_form #content #single_form p.intro, body.single_form #content #single_form p.error {
      font-size: 100%;
      line-height: 1.4; }
    body.single_form #content #single_form p.error {
      color: #cc0000; }
    body.single_form #content #single_form p label {
      font-size: 105%; }
      body.single_form #content #single_form p label.checkbox {
        font-size: 90%; }
  body.single_form #content #single_form ul {
    font-size: 90%;
    list-style: disc;
    padding-left: 2em; }
    body.single_form #content #single_form ul li {
      margin-bottom: 0.5em; }
  body.single_form #content #single_form input.textbox {
    width: 98.5%; }
  body.single_form #content #single_form span.remember_me {
    color: #333333;
    font-size: 95%;
    margin-left: 1em; }
    body.single_form #content #single_form span.remember_me label {
      margin: 0; }
    body.single_form #content #single_form span.remember_me a {
      margin: 0;
      color: red;
      text-decoration: none; }
      body.single_form #content #single_form span.remember_me a:hover {
        color: blue;
        text-decoration: none; }
  body.single_form #content #single_form span.forgot_password {
    position: relative;
    top: -3px;
    margin: 0 1em; }
    body.single_form #content #single_form span.forgot_password a {
      color: red;
      text-decoration: none; }
      body.single_form #content #single_form span.forgot_password a:hover {
        color: blue;
        text-decoration: none; }
  body.single_form #content #single_form .buttons {
    margin: 1.75em 0 1em; }
body.single_form #content p.version {
  background: url(../../images/admin/single_form_shadow.png) top center no-repeat;
  color: #666666;
  font-size: 80%;
  padding-top: 10px;
  margin-top: 0; }

body.edit_user #avatar, body.edit_personal_preferences #avatar {
  left: 26em;
  position: absolute;
  text-align: center;
  width: 102px; }
  body.edit_user #avatar p.caption, body.edit_personal_preferences #avatar p.caption {
    font-size: 70%;
    color: #e5e5e5;
    line-height: 1.3; }

#blog_post_title {
  width: 98.5%;
  line-height: 30px;
  font-size: 25px; }

/* Make your custom overrides here. This file will not be updated by Radiant */
