= image_tag('coming_soon.png')
.coming_soon{ :style => "border-top: 2px #333 solid;"}
  %h1 Welcome to Order Frozen Seafood! 
  %p{ :style => "background:yellow;"} Our Online Premium store is in Development. Please check back soon!
  %h2 Order Frozen Seafood will be:
  %ul
    %li America's #1 online seafood store!
    %li We will deliver frozen seafood all over the world!
    %li Daily Deals!
    %li Weekly Specials!
    %li Monthly Gift Plans!
    %li Recipes!
    %li Seafood preparation and cooking tips!
    %li Gourmet Gift Baskets!
    %li Gift Certificates!
    
  %h3 Order Frozen Seafood will offer:
  %ul
    %li Shrimp
    %li Lobster
    %li Oysters
    %li Clams
    %li Mussels 
    %li Crabmeat 
    %li Shellfish
    %li King crab legs
    %li Salmon 
    %li Crab
    %li Specialty items
    
  %p ...and so much more. 
  %h4 We will ship right to your door!
  %p{ :style => "margin:1em;" } 
    for more info you can email us at: 
    = link_to "info@orderfrozenseafood.com", :href => "mailto:info@orderfrozenseafood.com"
  %div{ :style => "height: 150px;" }